.ConsoleOutput {
  background: #333;
  color: #fff;
  width: 100%;
  max-height: 200px;
  overflow: scroll;

  .messages {
    margin: 0;
    padding: 0;
    list-style: none;

    &__message {
      width: 100%;
      border: 0;
      outline: 0;
  
      font-family: 'Roboto Mono';
      font-size: 20px;
      line-height: 30px;
      padding: 5px 20px;
    }
  }
}