.Card {
    font-size: 11px;
    cursor: pointer;

    &__layout {
        display: grid;
        grid-template-columns: 20% 20% 20% 20% 20%;
        grid-template-rows: 20% 20% 20% 20% 20%;
        height: 60px;
        width: 50px;

        $moveTo: gray;
        $origin: black;
        $none: white;

        div {
            box-sizing: border-box;
            border-bottom: solid 1px black;
            border-left: solid 1px black;

            &:nth-child(5n) {
                border-right: solid 1px black;
            }

            &:nth-child(-n+5) {
                border-top: solid 1px black;
            }
        }

        .moveTo {
            background: $moveTo;
        }

        .origin {
            background: $origin;
        }

        .none {
            background: $none;
        }
    }
}
