.ConsoleCanvas {
    display: flex;
    flex-direction: row;

    > * {
        padding: 0 15px;
    }

    .player, .board {
        display: flex;
        flex-direction: column;
    }

    .grid {
        padding: 15px 0;  
    }

    td[data-color=red] {
        background-radius: 50%;
        color: #fff;
        background: #d00;
        transform: rotate(180deg);
    }

    td[data-color=blue] {
        background-radius: 50%;
        color: #fff;
        background: #00d;
    }
}